.spot-container{
    display: block;
    justify-content: center;
    flex-direction: column;
    overflow: scroll;
    height: 2000px;
    max-height: 2000px;
}

.spotName{
    display: flex;
    justify-content: center;
}

