/* TODO Add site wide styles */

body {
    background-image: url("../src/images/background-img.jpg");
    font-family: 'Comfortaa';
}

form {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    color: #000;
}
