/* TODO Add site wide styles */

body {
    background-image: url("https://graffitiwallpaper.com/pics/listings/150_wide.jpg");
    background-size: cover;
    overflow: hidden;
    color: white;
    font-family: fantasy;
}

form {
    display: flex;
    justify-content: center;
    background-color: none;
    color: #000;
}
